/* For debugging & test purposes */
html { scroll-behavior: smooth; }

body {
    background-color: white;
} 

#home {
    padding-inline: 5%;
    align-items: center;
    text-align: center;
    margin: auto;
}

#HeaderFrame {
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

